<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="Constr" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\admin\Documents\CCFD.mdf;Integrated Security=True;Connect Timeout=30;Integrated Security=True;Connect Timeout=30;Integrated Security=True;Connect Timeout=30"/>
  </appSettings>

</configuration>
